 /*  
Author: Lawrence Oladimeji
File Name: styles.css
Date: 03/28/2025
*/

/*
    Style rules for body and images
    body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}
*/