/* 
    Author: Lawrence Oladdimeji
    Date: 04/28/2025
    File Name: styles.css
*/

/* Style for the body element */
body {
    background-color: #ffe5dc;
    font-family: sans-serif; /* Apply sans-serif font to the page */
}

/* Style for the table element */
table {
    border: 8px solid #fd4d0c;
    box-shadow: 12px 12px 10px #792101;
    width: 80%;
    margin: auto;
    border-collapse: collapse; /* Optional: for cleaner table lines */
}

/* Style for the td (table data) element */
td {
    border: 1px solid #a22c02;
    padding: 8px;
    text-align: center; /* Optional: center the content */
}

/* Style for odd table rows */
tr:nth-child(odd) {
    background-color: #fe9772;
}