/*
    Author: Lawrence Oladimeji
	File Name: styles.css
	Today's Date: 04/28/2025
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, article, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body */
body {
    background: linear-gradient(to left, #fe9972, #ffe5dc);
    font-family: sans-serif; /* Apply sans-serif font to the page */
}
/* Style rules for mobile viewport */

/* Style rule for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	margin: 1em;
	text-align: center;
    color: #341509;
}

/* Style rules for the main content  */
main {
    padding: 1%;
}

article {
    background-color: #a22c02;
    color: #ffe5dc;
    padding: 2%;
    margin: 2% 1%;
    border: 1px solid #000;
}

/* Style rule for the footer element */
footer {
	font-size: .70em;
	text-align: center;
    color: #341509;
}

/* Media Query for Tablet Viewport */
@media screen and print and (min-width: 481px) {
    body {
        font-size: 1.1em;
    }

    table {
        width: 90%;
    }

    td {
        padding: 10px;
    }

    /* Style rule for the article element */
    article {
        width: 43%;
        float: left;
        height: 160px;
    }

    /* Style rule for the footer element */
    footer {
        clear: left;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 900px) {
    article {
        height: 140px;
        width: 27%;
      }
    article:hover {
        background-color: #ffe5dc;
        color: #a22c02;
    }
    /* Desktop-specific styles will go here */
}