/*
Author: Lawrence Oladimeji
Date: 04/28/2025
File Name: style.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

table {
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #71881b;
}

table {
    border-collapse: collapse;
    width: 80%; /* You can set the table width as per your requirement */
    margin: 0 auto;
}

tr, th, td {
    padding: 2%;
    border: 1px solid #71881b; /* Adjust border style as necessary */
}

caption {
    font-size: 2em;
    padding: 2%;
    margin-top: 2%;
    text-align: center; /* Optional: centers the caption text */
}

th, td {
    border: 1px solid #7188bb;
}

td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #d3e788;
}